Repository i9wa4/jupyter-databricks-kernel: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pinact, zizmor, black, isort, flake8, mypy

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: gitleaks
        name: gitleaks
        entry: mise exec -- gitleaks protect --staged
        language: system
        pass_filenames: false

      - id: actionlint
        name: actionlint
        entry: mise exec -- actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: pinact
        name: pinact
        entry: mise exec -- pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$
        pass_filenames: false

      - id: zizmor
        name: zizmor
        entry: mise exec -- zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: shellcheck
        name: shellcheck
        entry: mise exec -- shellcheck
        language: system
        types: [shell]

      - id: black
        name: black
        entry: mise exec -- uv run --no-sync black
        language: system
        types: [python]

      - id: isort
        name: isort
        entry: mise exec -- uv run --no-sync isort
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: mise exec -- uv run --no-sync flake8
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: mise exec -- uv run --no-sync mypy src
        language: system
        types: [python]
        pass_filenames: false

feat: add kernel install command (#56) (#69)
  README.md
  src/jupyter_databricks_kernel/install.py
  tests/test_install.py
Due: black, isort, flake8, mypy

build: use hatch-vcs for automatic version management (#73)
  .github/workflows/publish.yaml
  .gitignore
  pyproject.toml
  src/jupyter_databricks_kernel/__init__.py
  uv.lock
Due: actionlint, pinact, zizmor, black, isort, flake8, mypy

chore: add rumdl to pre-commit hooks (#74)
  .pre-commit-config.yaml
  README.md
  mise.toml
Due: none

docs: update RELEASING.md for hatch-vcs workflow (#77)
  RELEASING.md
Due: none

build: add Python classifiers to pyproject.toml (#78)
  pyproject.toml
Due: none

build: add Python classifiers to pyproject.toml (#80)
  pyproject.toml
Due: none

feat: auto-start cluster when terminated (#79)
  src/jupyter_databricks_kernel/executor.py
  tests/test_executor.py
Due: black, isort, flake8, mypy

docs: add VS Code usage instructions to README (#83)
  README.md
Due: none

fix: update copyright notice in LICENSE file (#84)
  LICENSE
Due: none

fix: exclude .git directory from file sync (#88)
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

feat: move cache file to XDG cache directory (#85)
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

refactor: defer cache directory creation to save() (#85)
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

feat: move cache file to XDG cache directory (#89)
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

feat: support IMAGE, IMAGES, and TABLE result types (#48)
  src/jupyter_databricks_kernel/executor.py
  src/jupyter_databricks_kernel/kernel.py
  tests/test_executor.py
  tests/test_kernel.py
Due: black, isort, flake8, mypy

feat: support IMAGE, IMAGES, and TABLE result types (#94)
  src/jupyter_databricks_kernel/executor.py
  src/jupyter_databricks_kernel/kernel.py
  tests/test_executor.py
  tests/test_kernel.py
Due: black, isort, flake8, mypy

feat: show running indicator during command execution (#12)
  src/jupyter_databricks_kernel/executor.py
  src/jupyter_databricks_kernel/kernel.py
  tests/test_executor.py
  tests/test_kernel.py
Due: black, isort, flake8, mypy

docs: add troubleshooting section for slow kernel (#98)
  README.md
Due: none

docs: add troubleshooting section for slow kernel (#99)
  README.md
Due: none

refactor: unify logging across all modules (#100)
  src/jupyter_databricks_kernel/config.py
  src/jupyter_databricks_kernel/kernel.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_config.py
Due: black, isort, flake8, mypy

refactor: remove code preview from debug logs (#100)
  src/jupyter_databricks_kernel/kernel.py
Due: black, isort, flake8, mypy

refactor: unify logging across all modules (#103)
  src/jupyter_databricks_kernel/config.py
  src/jupyter_databricks_kernel/kernel.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_config.py
Due: black, isort, flake8, mypy

fix: search parent directories for pyproject.toml (#102)
  src/jupyter_databricks_kernel/config.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_config.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

fix: search parent directories for pyproject.toml (#104)
  src/jupyter_databricks_kernel/config.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_config.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

feat: set cwd to sync directory for Git Folders compatibility (#105)
  src/jupyter_databricks_kernel/sync.py
  tests/test_integration.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

feat: set cwd to sync directory for Git Folders compatibility (#106)
  src/jupyter_databricks_kernel/sync.py
  tests/test_integration.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

docs: add CLI Execution section to README (#108)
  README.md
Due: none

refactor: improve test design and consistency (#101)
  CONTRIBUTING.md
  tests/conftest.py
  tests/test_executor.py
  tests/test_placeholder.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

feat: add animated progress display during cell execution
  src/jupyter_databricks_kernel/executor.py
  src/jupyter_databricks_kernel/kernel.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_executor.py
  tests/test_kernel.py
Due: black, isort, flake8, mypy

feat: show driver logs URL during cell execution
  src/jupyter_databricks_kernel/executor.py
  src/jupyter_databricks_kernel/kernel.py
Due: black, isort, flake8, mypy

feat: add animated progress display during cell execution (#110)
  CONTRIBUTING.md
  src/jupyter_databricks_kernel/executor.py
  src/jupyter_databricks_kernel/kernel.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_executor.py
  tests/test_kernel.py
Due: black, isort, flake8, mypy

docs: simplify installation commands and add --inplace option (#112)
  README.md
Due: none

fix: use version tag instead of branch for gh-action-pypi-publish
  .github/workflows/publish.yaml
Due: actionlint, pinact, zizmor

docs: add DeepWiki badge (#124)
  README.md
Due: none

fix
  mise.toml
Due: none

feat: change rumdl backend (#137)
  mise.toml
Due: none

refactor
  .github/workflows/ci.yaml
Due: actionlint, pinact, zizmor

fix
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: actionlint, pinact, zizmor

fix: rename gitleaks hooks and add history scan to CI
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: actionlint, pinact, zizmor

chore: add minimumReleaseAge to renovate.json
  renovate.json
Due: none

chore: add minimumReleaseAge to renovate.json (#146)
  renovate.json
Due: none
