Repository i9wa4/jupyter-databricks-kernel: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pinact, zizmor, black, isort, flake8, mypy

actionlint:
  name: actionlint
  entry: mise exec -- actionlint
  language: system

pinact:
  name: pinact
  entry: mise exec -- pinact run
  language: system
  pass_filenames: false

zizmor:
  name: zizmor
  entry: mise exec -- zizmor
  language: system

black:
  name: black
  entry: mise exec -- uv run --no-sync black
  language: system

isort:
  name: isort
  entry: mise exec -- uv run --no-sync isort
  language: system

flake8:
  name: flake8
  entry: mise exec -- uv run --no-sync flake8
  language: system

mypy:
  name: mypy
  entry: mise exec -- uv run --no-sync mypy src
  language: system
  pass_filenames: false

feat: add service principal support with intelligent fallback
  src/jupyter_databricks_kernel/config.py
  src/jupyter_databricks_kernel/sync.py
  tests/conftest.py
  tests/test_config.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

style: apply ruff formatting fixes
  src/jupyter_databricks_kernel/sync.py
  tests/test_config.py
Due: black, isort, flake8, mypy

style: fix line length violations
  src/jupyter_databricks_kernel/sync.py
  tests/test_config.py
Due: black, isort, flake8, mypy

fix commands for contributing
  Makefile
Due: none

feat(sync): replace DBFS upload with Command API Base64 chunk transfer
  Makefile
  src/jupyter_databricks_kernel/kernel.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

refactor(sync): rename dbfs_path to cluster_zip_path and add type hints
  src/jupyter_databricks_kernel/kernel.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_kernel.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

test: add graceful skip for integration tests and Command API transfer tests
  src/jupyter_databricks_kernel/sync.py
  tests/test_integration.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

test: improve integration test auth error handling and traceability
  src/jupyter_databricks_kernel/sync.py
  tests/test_integration.py
Due: black, isort, flake8, mypy

test: add Command API error handling test for result.results.cause
  tests/test_sync.py
Due: black, isort, flake8, mypy

docs(test): add DATABRICKS_CONFIG_PROFILE usage to integration test docstrings
  tests/test_integration.py
Due: black, isort, flake8, mypy

style: fix trailing whitespace and line length violations
  src/jupyter_databricks_kernel/kernel.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_integration.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

style: fix ruff format and mypy type annotation
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

chore: optimize ruff lint config (remove S101 duplicate, update S108 comment)
  pyproject.toml
Due: none

fix: address review findings (DBFS path, reconnection, input validation, context cleanup, permissions)
  src/jupyter_databricks_kernel/sync.py
Due: black, isort, flake8, mypy

Add Service Principal support with Command API-based file sync (#164)
  Makefile
  pyproject.toml
  src/jupyter_databricks_kernel/config.py
  src/jupyter_databricks_kernel/kernel.py
  src/jupyter_databricks_kernel/sync.py
  tests/conftest.py
  tests/test_config.py
  tests/test_integration.py
  tests/test_kernel.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

feat(ci): add workflow_dispatch trigger to release workflow
  .github/workflows/release.yaml
Due: actionlint, pinact, zizmor

fix(ci): add workflow_call to publish.yaml for dispatch-triggered releases
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
Due: actionlint, pinact, zizmor

docs: update RELEASING.md for workflow_dispatch release flow
  RELEASING.md
Due: none

feat(ci): add workflow_dispatch trigger to release workflow (#166)
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  RELEASING.md
Due: actionlint, pinact, zizmor

fix(ci): remove reusable workflow to support PyPI Trusted Publishing
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
Due: actionlint, pinact, zizmor

fix(ci): remove reusable workflow to support PyPI Trusted Publishing (#169)
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
Due: actionlint, pinact, zizmor

refactor(ci): consolidate release workflows into single file
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  RELEASING.md
Due: actionlint, pinact, zizmor

refactor(ci): consolidate release workflows into single file (#170)
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  RELEASING.md
Due: actionlint, pinact, zizmor

docs(readme): highlight file sync feature and update auth requirements
  README.md
Due: none

docs(readme): add CLI execution to features
  README.md
Due: none

docs: reorganize features and add section numbers
  README.md
  RELEASING.md
Due: none

docs: fix line length in README requirements section
  README.md
Due: none

docs: enhance README features and update requirements (#171)
  README.md
  RELEASING.md
Due: none

checkfilter: strict
  renovate.json
Due: none

feat(renovate): checkfilter: strict (#178)
  renovate.json
Due: none

fix(ci): replace softprops/action-gh-release with gh release
  .github/workflows/release.yaml
Due: actionlint, pinact, zizmor

refactor: migrate from mise to Nix, replace Renovate with Dependabot
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  CONTRIBUTING.md
  Makefile
  README.md
  flake.lock
  flake.nix
  mise.toml
  renovate.json
Due: actionlint, pinact, zizmor

docs: fix misaligned quickstat install-options table in README
  README.md
Due: none

fix(lint): exclude tables from MD013 line-length reflow in rumdl config
  flake.nix
Due: none

Revert "fix(lint): exclude tables from MD013 line-length reflow in rumdl config"
  flake.nix
Due: none

fix(lint): shorten long lines in README to pass MD013 rumdl check
  README.md
Due: none

docs(readme): clarify file sync destination and add workspace_extract_dir (#172)
  CONTRIBUTING.md
Due: none

docs(readme): add Service Principal env var examples to auth block (#157)
  README.md
Due: none

chore(ci): add Python 3.14 to test matrix and classifiers (#179)
  .github/workflows/ci.yaml
  pyproject.toml
Due: actionlint, pinact, zizmor

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
