Repository i9wa4/jupyter-databricks-kernel: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pinact, zizmor, black, isort, flake8, mypy

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: gitleaks
        name: gitleaks
        entry: mise exec -- gitleaks protect --staged
        language: system
        pass_filenames: false

      - id: actionlint
        name: actionlint
        entry: mise exec -- actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: pinact
        name: pinact
        entry: mise exec -- pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$
        pass_filenames: false

      - id: zizmor
        name: zizmor
        entry: mise exec -- zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: shellcheck
        name: shellcheck
        entry: mise exec -- shellcheck
        language: system
        types: [shell]

      - id: black
        name: black
        entry: mise exec -- uv run --no-sync black
        language: system
        types: [python]

      - id: isort
        name: isort
        entry: mise exec -- uv run --no-sync isort
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: mise exec -- uv run --no-sync flake8
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: mise exec -- uv run --no-sync mypy src
        language: system
        types: [python]
        pass_filenames: false

feat: establish Python version policy and configure Renovate (#24)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .python-version
  mise.toml
  pyproject.toml
  renovate.json
  tests/test_placeholder.py
  uv.lock
Due: actionlint, pinact, zizmor, black, isort, flake8, mypy

feat: implement minimal Databricks kernel with remote execution (#2)
  pyproject.toml
  setup.cfg
  src/jupyter_databricks_kernel/__main__.py
  src/jupyter_databricks_kernel/config.py
  src/jupyter_databricks_kernel/executor.py
  src/jupyter_databricks_kernel/kernel.py
  src/jupyter_databricks_kernel/sync.py
  uv.lock
Due: black, isort, flake8, mypy

fix: file sync on Shared clusters with Unity Catalog (#2)
  pyproject.toml
  src/jupyter_databricks_kernel/sync.py
  uv.lock
Due: black, isort, flake8, mypy

feat: implement minimal Databricks kernel with remote execution (#25)
  pyproject.toml
  setup.cfg
  src/jupyter_databricks_kernel/__main__.py
  src/jupyter_databricks_kernel/config.py
  src/jupyter_databricks_kernel/executor.py
  src/jupyter_databricks_kernel/kernel.py
  src/jupyter_databricks_kernel/sync.py
  uv.lock
Due: black, isort, flake8, mypy

ci: add unified CI status check job (#26)
  .github/workflows/ci.yml
Due: actionlint, pinact, zizmor

ci: add unified CI status check job (#27)
  .github/workflows/ci.yml
Due: actionlint, pinact, zizmor

feat: implement session state management with auto-reconnection (#4)
  .github/workflows/ci.yml
  src/jupyter_databricks_kernel/executor.py
  src/jupyter_databricks_kernel/kernel.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_executor.py
  tests/test_kernel.py
Due: actionlint, pinact, zizmor, black, isort, flake8, mypy

fix: sanitize user_name to prevent path traversal attacks (#4)
  src/jupyter_databricks_kernel/executor.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_executor.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

fix: reuse executor and file_sync on kernel restart (#4)
  src/jupyter_databricks_kernel/kernel.py
  tests/test_kernel.py
Due: black, isort, flake8, mypy

refactor: use pre-compiled regex for context error detection (#4)
  src/jupyter_databricks_kernel/executor.py
Due: black, isort, flake8, mypy

fix: add timeout configuration for SDK operations (#4)
  src/jupyter_databricks_kernel/executor.py
Due: black, isort, flake8, mypy

fix: notify user when sys.path restoration fails after reconnection (#4)
  src/jupyter_databricks_kernel/kernel.py
  tests/test_kernel.py
Due: black, isort, flake8, mypy

fix: tighten context invalid error detection to prevent false positives (#4)
  src/jupyter_databricks_kernel/executor.py
  tests/test_executor.py
Due: black, isort, flake8, mypy

fix: improve context error pattern and add debug logging (#4)
  src/jupyter_databricks_kernel/executor.py
Due: black, isort, flake8, mypy

feat: implement session state management with auto-reconnection (#30)
  pyproject.toml
  src/jupyter_databricks_kernel/executor.py
  src/jupyter_databricks_kernel/kernel.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_executor.py
  tests/test_kernel.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

chore(deps): add minimum version constraint for ruff (#29)
  pyproject.toml
Due: none

feat(ruff): add target-version for Python 3.11 (#29)
  pyproject.toml
Due: none

feat(ruff): add extended rule sets for better code quality (#29)
  pyproject.toml
Due: none

feat(sync): replace fnmatch with pathspec for .gitignore-style patterns
  pyproject.toml
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
  uv.lock
Due: black, isort, flake8, mypy

feat(sync): add file size validation with configurable limits
  src/jupyter_databricks_kernel/config.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

feat(sync): add sync statistics with logging
  src/jupyter_databricks_kernel/kernel.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

fix(sync): add usedforsecurity=False to MD5 hash computation
  src/jupyter_databricks_kernel/sync.py
Due: black, isort, flake8, mypy

feat(sync): implement hash-based file synchronization (#32)
  .gitignore
  pyproject.toml
  src/jupyter_databricks_kernel/config.py
  src/jupyter_databricks_kernel/kernel.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
  uv.lock
Due: black, isort, flake8, mypy

fix(sync): improve sync reliability with cache exclusion and deletion detection (#36)
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

test(sync): add integration tests for needs_sync() method (#36)
  tests/test_sync.py
Due: black, isort, flake8, mypy

docs: add comprehensive documentation and developer guide (#7)
  README.md
  docs/README.md
  docs/architecture.md
  docs/constraints.md
  docs/roadmap.md
  docs/setup.md
  docs/usage.md
  docs/use-cases.md
Due: none

docs: add section numbering to all documentation files (#7)
  docs/README.md
  docs/architecture.md
  docs/constraints.md
  docs/roadmap.md
  docs/setup.md
  docs/usage.md
  docs/use-cases.md
Due: none

docs: add comprehensive documentation and developer guide (#46)
  README.md
  docs/README.md
  docs/architecture.md
  docs/constraints.md
  docs/roadmap.md
  docs/setup.md
  docs/usage.md
  docs/use-cases.md
Due: none

perf(sync): optimize hash computation for memory and CPU efficiency (#49)
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

fix(config): change use_gitignore default to True and add TOML error handling (#37)
  README.md
  src/jupyter_databricks_kernel/config.py
  tests/test_config.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

docs: add Databricks Runtime documentation links to README (#50)
  README.md
Due: none

docs: add Databricks Runtime documentation links to README (#54)
  README.md
Due: none

chore(sync): minor improvements and code quality cleanup (#40)
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

fix(sync): address review findings for cache security and robustness (#40)
  src/jupyter_databricks_kernel/sync.py
Due: black, isort, flake8, mypy

refactor: unify naming conventions across codebase (#61)
  .gitignore
  README.md
  docs/architecture.md
  docs/constraints.md
  docs/setup.md
  docs/usage.md
  docs/use-cases.md
  src/jupyter_databricks_kernel/config.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_config.py
Due: black, isort, flake8, mypy

ci: setup PyPI publishing workflow (#9)
  .github/release.yaml
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  README.md
  RELEASING.md
  pyproject.toml
  uv.lock
Due: actionlint, pinact, zizmor

refactor(ci): use mise for package build in publish workflow (#9)
  .github/workflows/publish.yaml
Due: actionlint, pinact, zizmor

docs: update README for public release and add CONTRIBUTING.md (#52, #57, #58, #60)
  CONTRIBUTING.md
  README.md
Due: none

docs: simplify documentation for public release (#64)
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/architecture.md
  docs/constraints.md
  docs/roadmap.md
  docs/setup.md
  docs/usage.md
  docs/use-cases.md
Due: none

docs: update README installation instructions (#66)
  README.md
Due: none
