Repository i9wa4/jupyter-databricks-kernel: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pinact, zizmor, black, isort, flake8, mypy

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: gitleaks
        name: gitleaks
        entry: mise exec -- gitleaks protect --staged
        language: system
        pass_filenames: false

      - id: actionlint
        name: actionlint
        entry: mise exec -- actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: pinact
        name: pinact
        entry: mise exec -- pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$
        pass_filenames: false

      - id: zizmor
        name: zizmor
        entry: mise exec -- zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: shellcheck
        name: shellcheck
        entry: mise exec -- shellcheck
        language: system
        types: [shell]

      - id: black
        name: black
        entry: mise exec -- uv run --no-sync black
        language: system
        types: [python]

      - id: isort
        name: isort
        entry: mise exec -- uv run --no-sync isort
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: mise exec -- uv run --no-sync flake8
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: mise exec -- uv run --no-sync mypy src
        language: system
        types: [python]
        pass_filenames: false

docs: migrate README to uv-first install instructions
  README.md
Due: none

test(runner): update assertions for timeout kwarg and timestamped output filenames (#223)
  tests/test_runner.py
Due: black, isort, flake8, mypy

fix(runner): use full filename in output path (#223)
  src/jupyter_databricks_kernel/runner.py
  tests/test_runner.py
Due: black, isort, flake8, mypy

feat: runner.py redesign — CLI runner layer, .databricks/config.json schema, MCP server integration (#243)
  .gitignore
  README.md
  pyproject.toml
  src/jupyter_databricks_kernel/config.py
  src/jupyter_databricks_kernel/executor.py
  src/jupyter_databricks_kernel/runner.py
  tests/fixtures/hello.py
  tests/fixtures/sample.ipynb
  tests/test_config.py
  tests/test_runner.py
Due: black, isort, flake8, mypy

docs(examples): add runner CLI as alternative run option (#91)
  examples/README.md
  examples/table-exporter/README.md
Due: none

fix(examples): make table-exporter compatible with run-ipynb CLI (#91)
  examples/table-exporter/launcher.ipynb
  examples/table-exporter/pyproject.toml
Due: none

feat: add runner CLI and update executor for run-ipynb support (#91)
  examples/table-exporter/pyproject.toml
  examples/table-exporter/uv.lock
  pyproject.toml
  src/jupyter_databricks_kernel/executor.py
  src/jupyter_databricks_kernel/runner.py
Due: black, isort, flake8, mypy

fix(examples): restore file_format default to json (#91)
  examples/table-exporter/launcher.ipynb
Due: none

fix(examples): restore wrapper pattern; add always-on FileSync to run-* CLIs (#91)
  examples/table-exporter/README.md
  examples/table-exporter/launcher.ipynb
  examples/table-exporter/main.py
  src/jupyter_databricks_kernel/runner.py
Due: black, isort, flake8, mypy

fix(examples): use SparkSession.getActiveSession() in main.run(); clean up runner debug (#91)
  examples/table-exporter/main.py
  src/jupyter_databricks_kernel/runner.py
Due: black, isort, flake8, mypy

test(examples): add run-py/run-db-py e2e test script (#91)
  examples/table-exporter/test_run.py
Due: black, isort, flake8, mypy

fix(runner): ensure write_output called on exception paths (#91)
  src/jupyter_databricks_kernel/runner.py
Due: black, isort, flake8, mypy

chore: integrate origin/main changes (config.py mcp_profile, runner CLI, ruff/databricks-sdk bumps)
  .gitignore
  README.md
  src/jupyter_databricks_kernel/config.py
  tests/fixtures/hello.py
  tests/fixtures/sample.ipynb
  tests/test_config.py
  tests/test_runner.py
  uv.lock
Due: black, isort, flake8, mypy

fix: update flake.lock nixpkgs to origin/main revision (#91)
  flake.lock
Due: none

fix(examples): repair table-exporter PR branch (#91)
  .github/workflows/ci.yaml
  README.md
  examples/README.md
  examples/table-exporter/README.md
  examples/table-exporter/common/validator.py
  examples/table-exporter/launcher.ipynb
  examples/table-exporter/main.py
  flake.lock
  pyproject.toml
  src/jupyter_databricks_kernel/runner.py
  tests/test_examples_table_exporter.py
  uv.lock
Due: actionlint, pinact, zizmor, black, isort, flake8, mypy

fix(examples): add launcher notebook trailing newline (#91)
  examples/table-exporter/launcher.ipynb
Due: none

test(sync): cover direct command transfer chunks (#162)
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

fix(examples): align table exporter defaults (#91)
  README.md
  examples/table-exporter/main.py
  examples/table-exporter/run_export.py
  tests/test_examples_table_exporter.py
Due: black, isort, flake8, mypy

fix(sync): attribute file sync command client (#221)
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

fix(sync): namespace tmp extraction paths (#237)
  README.md
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

docs: scope MCP server usage pattern (#224)
  README.md
Due: none

chore(deps): align lockfile with current main (#91)
  uv.lock
Due: none

Ideal Databricks Project Structure (Skinny Notebook Wrapper + Pure Python) (#238)
  README.md
  examples/README.md
  examples/table-exporter/.ruff.toml
  examples/table-exporter/README.md
  examples/table-exporter/common/__init__.py
  examples/table-exporter/common/params.py
  examples/table-exporter/common/validator.py
  examples/table-exporter/launcher.ipynb
  examples/table-exporter/main.py
  examples/table-exporter/processors/__init__.py
  examples/table-exporter/processors/exporter.py
  examples/table-exporter/pyproject.toml
  examples/table-exporter/run_export.py
  examples/table-exporter/uv.lock
  tests/test_examples_table_exporter.py
Due: black, isort, flake8, mypy

chore(hooks): check uv lock in pre-commit
  flake.nix
Due: none

fix(lint): use nix python for uv lock check
  flake.nix
Due: none

refactor(nix): share project python for uv checks
  flake.nix
Due: none

chore(renovate): remove renovate config
  renovate.json
Due: none

refactor(nix): use baseline python for uv checks
  flake.nix
Due: none

Optimize Command API Base64 transfer for large projects (#239)
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

Add execution attribution to cluster command execution for cost tracking (#240)
  src/jupyter_databricks_kernel/executor.py
  src/jupyter_databricks_kernel/sync.py
  tests/test_executor.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

refactor(sync): simplify extraction path to /tmp/<project> on cluster driver (#242)
  README.md
  src/jupyter_databricks_kernel/sync.py
  tests/conftest.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

docs(readme): clarify .databricks routing file (#224)
  README.md
Due: none

fix(config): use package-owned project routing file (#224)
  README.md
  src/jupyter_databricks_kernel/config.py
  tests/test_config.py
Due: black, isort, flake8, mypy

docs(readme): explain project routing config behavior (#224)
  README.md
Due: none

fix(config): remove generic databricks config fallback (#224)
  README.md
  src/jupyter_databricks_kernel/config.py
  tests/test_config.py
Due: black, isort, flake8, mypy

docs: MCP server usage pattern — execute_python tool, per-workspace deployment, mcp_profile routing (#241)
  README.md
  src/jupyter_databricks_kernel/config.py
  tests/test_config.py
Due: black, isort, flake8, mypy

docs(contributing): use uv-first development commands (#245)
  CONTRIBUTING.md
Due: none

chore(nix): switch nixpkgs input to unstable (#244)
  flake.lock
  flake.nix
Due: none

perf(sync): parallelize file hash checks (#126)
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

perf(sync): parallelize file hash checks (#126) (#274)
  src/jupyter_databricks_kernel/sync.py
  tests/test_sync.py
Due: black, isort, flake8, mypy
