Repository i9wa4/jupyter-databricks-kernel: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pinact, zizmor, black, isort, flake8, mypy

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: gitleaks
        name: gitleaks
        entry: mise exec -- gitleaks protect --staged
        language: system
        pass_filenames: false

      - id: actionlint
        name: actionlint
        entry: mise exec -- actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: pinact
        name: pinact
        entry: mise exec -- pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$
        pass_filenames: false

      - id: zizmor
        name: zizmor
        entry: mise exec -- zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: shellcheck
        name: shellcheck
        entry: mise exec -- shellcheck
        language: system
        types: [shell]

      - id: black
        name: black
        entry: mise exec -- uv run --no-sync black
        language: system
        types: [python]

      - id: isort
        name: isort
        entry: mise exec -- uv run --no-sync isort
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: mise exec -- uv run --no-sync flake8
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: mise exec -- uv run --no-sync mypy src
        language: system
        types: [python]
        pass_filenames: false

docs(readme): clarify file sync destination and add workspace_extract_dir (#172)
  README.md
Due: none

chore(dev): add ty type checker as dev dependency alongside mypy (#125)
  pyproject.toml
Due: none

docs(readme): add Papermill Integration section and renumber sections (#168)
  README.md
Due: none

chore(dev): update uv.lock for ty dependency (#125)
  uv.lock
Due: none

chore(ci): add Dependabot nix support
  .github/dependabot.yml
Due: none

docs: clarify authentication methods (#157) (#225)
  README.md
Due: none

docs: update CONTRIBUTING.md with development workflow (#165) (#226)
  CONTRIBUTING.md
Due: none

chore(ci): add Dependabot nix support (#228)
  .github/dependabot.yml
Due: none

docs: clarify file sync destination and add workspace_extract_dir (#172) (#229)
  .github/workflows/ci.yaml
  README.md
  pyproject.toml
Due: actionlint, pinact, zizmor

chore(dev): bump ty specifier floor to >=0.0.32 (#125)
  pyproject.toml
  uv.lock
Due: none

chore(dev): add ty type checker alongside mypy (#125) (#232)
  pyproject.toml
  uv.lock
Due: none

chore(dev): add papermill as dev dependency (#180)
  pyproject.toml
  uv.lock
Due: none

docs: add Papermill integration guide (#180) (#231)
  README.md
  pyproject.toml
  uv.lock
Due: none

docs(readme): add MCP server integration section (#224)
  README.md
Due: none

feat(executor): add caller attribution via WorkspaceClient product header (#221)
  src/jupyter_databricks_kernel/executor.py
  tests/test_executor.py
Due: black, isort, flake8, mypy

refactor(sync): simplify extraction path to /tmp/<project> on cluster driver (#237)
  README.md
  src/jupyter_databricks_kernel/sync.py
  tests/conftest.py
  tests/test_sync.py
Due: black, isort, flake8, mypy

perf(sync): stream Base64 chunks to reduce peak memory (#162)
  src/jupyter_databricks_kernel/sync.py
Due: black, isort, flake8, mypy

docs: add table-exporter example project for Skinny Notebook Wrapper pattern (#91)
  README.md
  examples/README.md
  examples/table-exporter/.ruff.toml
  examples/table-exporter/README.md
  examples/table-exporter/common/__init__.py
  examples/table-exporter/common/params.py
  examples/table-exporter/common/validator.py
  examples/table-exporter/launcher.ipynb
  examples/table-exporter/main.py
  examples/table-exporter/processors/__init__.py
  examples/table-exporter/processors/exporter.py
  pyproject.toml
Due: black, isort, flake8, mypy

docs: fix launcher.ipynb to use dbutils.widgets, add where_clause param, add pyproject.toml (#91)
  examples/table-exporter/README.md
  examples/table-exporter/launcher.ipynb
  examples/table-exporter/main.py
  examples/table-exporter/processors/exporter.py
  examples/table-exporter/pyproject.toml
Due: black, isort, flake8, mypy

fix(examples): use dropdown widget for file_format in launcher.ipynb (#91)
  examples/table-exporter/launcher.ipynb
Due: none

feat(runner): add mcp_profile field and .databricks/config.json loader (#223)
  src/jupyter_databricks_kernel/config.py
  tests/test_config.py
Due: black, isort, flake8, mypy

feat(runner): add runner.py with run_py, run_db_py, run_ipynb, write_output (#223)
  src/jupyter_databricks_kernel/runner.py
  tests/fixtures/hello.py
  tests/fixtures/sample.ipynb
  tests/test_runner.py
Due: black, isort, flake8, mypy

feat(runner): add CLI entry points and outputs/ CWD note (#223)
  README.md
  pyproject.toml
Due: none

chore: add outputs/ to .gitignore (#223)
  .gitignore
Due: none

style: apply treefmt formatting (#91)
  examples/README.md
  examples/table-exporter/README.md
Due: none

style: apply treefmt formatting (#237)
  src/jupyter_databricks_kernel/sync.py
Due: black, isort, flake8, mypy

style: apply treefmt formatting (#221)
  tests/test_executor.py
Due: black, isort, flake8, mypy

fix: wrap long log format string in config.py (#223)
  src/jupyter_databricks_kernel/config.py
Due: black, isort, flake8, mypy

fix: add trailing newline to launcher.ipynb (#91)
  examples/table-exporter/launcher.ipynb
Due: none

style: apply treefmt formatting (#223)
  tests/test_runner.py
Due: black, isort, flake8, mypy

feat(runner): write ipynb output to outputs/ by default; add --inplace flag (#223)
  src/jupyter_databricks_kernel/runner.py
  tests/test_runner.py
Due: black, isort, flake8, mypy

fix(runner): make run-py/run-db-py/run-ipynb fully consistent (#223)
  src/jupyter_databricks_kernel/runner.py
Due: black, isort, flake8, mypy

fix(runner): cancel cluster command on timeout in _execute_internal (#223)
  src/jupyter_databricks_kernel/executor.py
Due: black, isort, flake8, mypy

docs(runner): document timeout, cancel, and exit code behavior (#223)
  README.md
  src/jupyter_databricks_kernel/runner.py
Due: black, isort, flake8, mypy

feat(runner): add --output-dir flag to all run-* commands (#223)
  src/jupyter_databricks_kernel/runner.py
Due: black, isort, flake8, mypy

feat(runner): timestamp output filename, default to .cache/outputs (#223)
  README.md
  src/jupyter_databricks_kernel/runner.py
Due: black, isort, flake8, mypy

feat(runner): add --timeout flag and complete argparse help strings (#223)
  src/jupyter_databricks_kernel/executor.py
  src/jupyter_databricks_kernel/runner.py
Due: black, isort, flake8, mypy
